$tablet: 768px;
$desktop: 1024px;

@mixin tablet {
    @media(min-width: #{$tablet}) {
        @content
    }
};

@mixin desktop {
    @media(min-width: #{$desktop}) {
        @content
    }
};

html {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
};

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
    // height: 100%;
}

.top-half {
    display: grid;
    grid-template-columns: 80px auto;
    height: 93%;

    .sidebar {
        background-color: black;
        display:  grid;
        grid-template-rows: 1fr 8fr;
        grid-row-gap: 10px;
        padding: 10px;
        height: 100%;

        .sidebar-home {
            background-color: #121212;
            padding: 5px;
            border-radius: 5px;
            display: grid;
            grid-template-rows: 1fr 1fr;
            justify-content: space-evenly;
            
            a {
                display: flex;
                justify-content: center;

                svg {
                    width: 25px;
                    height: auto;

                    path {
                        fill: lightgrey;
                    }
                }

                &:hover {
                    svg {
                        path {
                            transition: fill 0.1s ease-in-out;
                            fill: lighten(lightgrey, 20%);
                        }
                    }
                }
            }
        }

        .sidebar-albums {
            justify-content: flex-start;
            background-color: #121212;
            border-radius: 5px;
            height: 77vh;
            padding-left: 10px;
            overflow-y: overlay;
            scrollbar-gutter: stable;

            &:hover {    
                &::-webkit-scrollbar-thumb {
                    transition: background-color 0.4s ease-in-out;
                    background-color: lighten(rgba(26, 26, 26, 0.9), 10%);
                    border: 5px solid lighten(rgba(26, 26, 26, 0.9), 10%);
                }
            }
            
            &::-webkit-scrollbar {
                position: absolute;
                width: 10px;
                height: 10px;
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: rgba(26, 26, 26, 0.9);
                border: 5px solid rgba(26, 26, 26, 0.9);
                border-radius: 10rem;
            }
    
            &::-webkit-scrollbar-track {
                position: absolute;
                right: -3rem;
                top: -50rem;
                background: transparent;
            }

            a {
                display: flex;
                justify-content: center;
                margin: 10px 0 10px 0;

                svg {
                    width: 25px;
                    height: auto;

                    path {
                        fill: lightgrey;
                    }
                }

                &:hover {
                    svg {
                        path {
                            transition: fill 0.1s ease-in-out;
                            fill: lighten(lightgrey, 20%);
                        }
                    }
                }
            }

            .album {
                width: 40px;
                height: 40px;
                background-color: darkgreen;
                border-radius: 5px;
                margin: 10px 0 10px 0;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .playlist-page {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        scrollbar-gutter: auto;

        &:hover {    
            &::-webkit-scrollbar-thumb {
                transition: background-color 0.4s ease-in-out;
                background-color: rgba(199, 199, 199, 0.1);
                border: 7px solid rgba(199, 199, 199, 0.1);
            }
        }
        
        &::-webkit-scrollbar {
            position: absolute;
            width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10rem;
        }

        &::-webkit-scrollbar-track {
            position: absolute;
            right: -3rem;
            top: -50rem;
            background: rgb(88,102,94);
            background: linear-gradient(180deg, rgba(88,102,94,1) 0%, rgba(88,102,94,1) 25%, rgba(36,41,38,1) 50%, rgba(18,18,18,1) 75%, rgba(18,18,18,1) 100%);
        }

        .playlist-top-container {
            background: rgb(88,102,94);
            background: linear-gradient(52deg, rgba(88,102,94,1) 0%, rgba(48,56,52,1) 100%);
            padding: 16px;

            .playlist-menu {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 50px;
                
                .navigation {
                    a {
                        text-decoration: none;
                    }

                    svg {
                        padding: 2px;
                        background-color: rgba(0, 0, 0, 0.7);
                        border-radius: 50%;
                        path {
                            fill: lightgrey;
                        }
                    }

                    .forward-navigation, .back-navigation {
                        &:hover {
                            cursor: pointer;
                            path {
                                transition: fill 0.1s ease-in-out;
                                fill: lighten(lightgrey, 20%);
                            } 
                        }
                    }
                }

                .profile {
                    a svg {
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                    }                

                    &:hover {
                        transform: scale(105%);
                    }
                }
            }

            .info-container {
                display: flex;
                flex-direction: row;
                align-items: flex-end;

                .album-art {
                    width: 100px;
                    height: 100px;
                    background-color: darkgreen;
                    border-radius: 5px;
                    margin-right: 10px;
                }

                .playlist-info {
                    h2 {
                        font-size: 10px;
                        line-height: 16px;
                        font-weight: bold;
                    }

                    h1 {
                        font-size: 18px;
                        line-height: 29px;
                        font-weight: bold;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    .playlist-data {
                        font-size: 13px;
                        line-height: 21px;
                        display: grid;
                        grid-template-columns: auto auto auto;
                        grid-gap: 6px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        color: lightgrey;
                    }
                }
            }
        }

        .playlist-bot-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background: rgb(36,41,38);
            background: linear-gradient(185deg, rgba(36,41,38,0.88) 0%, rgba(18,18,18,1) 100%);
            max-height: auto;
            padding: 10px;
            padding-bottom: 40px;

            .playlist-controls-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 50px;
                padding: 0 10px 0 0;
                column-gap: 0.875rem;
                margin: 0 0 10px 0;

                div svg {
                    height: 30px;
                    width: 30px;
    
                    path {
                        fill: lightgrey;
                    }

                    &:hover {
                        cursor: pointer;
                        path {
                            transition: fill 0.1s ease-in-out;
                            fill: lighten(lightgrey, 20%);
                        }
                    }
                }

                .controls-play {
                    background-color: #35D769;
                    padding: 0px;
                    border-radius: 50%;
                    height: 45px;
                    width: 45px;
                    display: flex;
                    justify-content: center;
                    place-items: center;

                    svg {
                        height: 30px;
                        width: 30px;
                        path {
                            fill: #000000;
                        }
                    }

                    &:hover {
                        transform: scale(105%);

                        svg path {
                            fill: #000000;
                        }
                    }
                }

                .controls-heart {
                    svg path {
                        fill: #35D769;
                    }
                }

                .controls-search {
                    margin: 0 0 0 auto;
                }

                .controls-order {
                    font-size: 12px;
                    color: lightgrey;

                    &:hover {
                        color: lighten(lightgrey, 20%);
                    }
                }
            }

            .playlist-songs {
                padding: 0 10px 0 10px;

                .song-list-titles {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    align-items: center;
                    grid-column-gap: 20px;

                    h2 {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        color: lightgrey;
                        font-size: 14px;
                        line-height: 23px;
                        padding: 0 10px 0 10px;

                        svg {
                            display : flex;
                        }

                        &:hover {
                            color: lighten(lightgrey, 20%);
                        }
                    }
    
                    #duration-icon {
                        width: 20px;
                        height: 20px;

                        path { 
                            fill: lightgrey;
                        }

                        &:hover {
                            path {
                                fill: lighten(lightgrey, 20%);
                            }
                        }
                    }
                }

                hr {
                    border-color: rgb(104, 104, 104);
                }

                .song-list {
                    li {
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        grid-column-gap: 20px;

                        p {
                            color: lightgrey;
                            font-size: 14px;
                            line-height: 23px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            padding: 0 10px 0 10px;
                        }

                        &:hover {
                            background-color: lighten(#121212, 20%);
                        }
                    }
                }
            }
        }
    }
}

.progress-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5px 0;
}

.progress-bar {
    width: 25vw;
    height: 8px;
    // margin: 0 auto 0 auto;
    // transform: translateX(-250px);
    background-color: grey;
    display: inline-block;
    justify-self: stretch;

    &:hover {
        cursor: pointer;
        // box-shadow: 0px 10px 10px rgba(0, 255, 136, 0.1);
    }

    &:before {
        content: "";
        display: block;
        position: relative;
        height: 100%;
        width: 0%;
        background-color: white;
        visibility: var(--visibility, hidden);
        animation-name: var(--progressBar, progressBar);
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-duration: var(--songDuration, 0s);
        animation-play-state: var(--progressBarToggle, paused);
        animation-delay: var(--progressDelay, 0s);
    
        @keyframes progressBar {
            0% {
                width: 0%;
            }
    
            100% {
                width: 100%;
            }
        }
    }

    &:after {
        content: "";
        display: block;
        position: relative;
        height: 12px;
        width: 12px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
        transform: translate(-5px, -10px);
        animation-name: var(--progressCircle, progressCircle);
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-duration: var(--songDuration, 0s);
        animation-play-state: var(--progressBarToggle, paused);
        visibility: var(--progressCircleVisibility, hidden);
        animation-delay: var(--progressDelay, 0s);

        @keyframes progressCircle {
            0% {
                left: 0%;
            }
    
            100% {
                left: 100%;
            }
        }
    }
}

.progress-hover {
    background-color: grey;

    &:before {
        background-color: #1DB954;
        transition: background-color 0.1s ease-in-out;
    }
}

.current-duration {
    display: inline-block;
    margin: 0 1em 0 auto;
    font-size: 14px;
}

.total-duration {
    display: inline-block;
    margin: 0 auto 0 1em;
    font-size: 14px;
}

.bottom-half {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: black;
    padding: 12px;
    padding-bottom: 20px;
    height: 7%;

    .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        left: 0;
        // max-width: 80px;
        margin: 0 auto 0 0;
        transform: translateX(8px);

        .album-art {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-color: darkgreen;
            border-radius: 2px;
        }

        #song-name {
            margin-left: 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;
            max-width: 100px;

            &:hover {
                text-decoration: underline;
            }

            @include tablet {
                max-width: 200px;
            }
        }

        // height: 103px;
        // text-align: center;
        // opacity: 0%;

        p {
            align-self: center;
        }
    }

    .playback-bar-container {
        display: flex;
        flex-direction: column;
        // margin-top: 10px;
        // justify-content: center;

        .playback {
            margin: 0 auto 7px auto;
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */

            .play-container, #prevButton, #nextButton {
                display: inline-block;
                width: 30px;
                height: 30px;
            }

            .play-container {
                border-radius: 50%;
                background-color: white;
                fill: rgb(0, 0, 0);
                &:hover {
                    transform: scale(105%);
                    transition: transform 0.1s ease-in-out;
                }

                #pause {
                    transform: scale(80%);
                }
            }

            #prevButton svg path {
                fill: lightgrey;
                &:hover {
                    transition: fill 0.1s ease-in-out;
                    fill: lighten(lightgrey, 20%);
                }
            }

            #nextButton svg path {
                fill: lightgrey;
                &:hover {
                    transition: fill 0.1s ease-in-out;
                    fill: lighten(lightgrey, 20%);
                }
            }
    
            svg {
                width: 30px;
                height: 30px;
                &:hover {
                    transform: scale(105%);
                    cursor: pointer;
                    transition: transform 0.1s ease-in-out;
                }
            }
        }
    }

    .playback-bar-tools {
        // position: absolute;
        // right: 0;
        margin: 0 0 0 auto;
        // width: 20%;
        // height: 100%;
        // background-color: red;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // margin: 0 12px 0 0;

        .volume-icon-container {
            margin: 0 5px 0 0;
            #volume-icon {
                path {
                    fill: lightgrey;
                    height: 25px;
                    width: 25px;

                    &:hover {
                        cursor: pointer;
                        fill: lighten(lightgrey, 20%);
                    }
                }
            }
        }

        .volume-controls {
            text-align: center;
            width: 50px;
            height: 5px;
            border-radius: 3px;
            background-color: grey;

            &:before {
                content: "";
                display: block;
                position: relative;
                height: 100%;
                width: var(--volumeBarFill, 50%);
                background-color: white;
            }

            &:after {
                content: "";
                display: block;
                position: relative;
                height: 12px;
                width: 12px;
                background-color: white;
                border-radius: 50%;
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
                transform: var(--volumeCirclePosition, translate(19px, -8px));
                visibility: var(--volumeCircleVisibility, hidden);
            }

            @include tablet {
                width: 100px;

                &:after {
                    transform: var(--volumeCirclePosition, translate(44px, -8px));
                }
            }
        }

        .volume-hover {
            background-color: grey;
        
            &:before {
                background-color: #1DB954;
                transition: background-color 0.1s ease-in-out;
            }
        }
    }
}

