html {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
}

.top-half {
  display: grid;
  grid-template-columns: 80px auto;
  height: 93%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.top-half .sidebar {
  background-color: black;
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-row-gap: 10px;
  padding: 10px;
  height: 100%;
}
.top-half .sidebar .sidebar-home {
  background-color: #121212;
  padding: 5px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
}
.top-half .sidebar .sidebar-home a {
  display: flex;
  justify-content: center;
}
.top-half .sidebar .sidebar-home a svg {
  width: 25px;
  height: auto;
}
.top-half .sidebar .sidebar-home a svg path {
  fill: lightgrey;
}
.top-half .sidebar .sidebar-home a:hover svg path {
  transition: fill 0.1s ease-in-out;
  fill: white;
}
.top-half .sidebar .sidebar-albums {
  justify-content: flex-start;
  background-color: #121212;
  border-radius: 5px;
  height: 77vh;
  padding-left: 10px;
  overflow-y: overlay;
  scrollbar-gutter: stable;
}
.top-half .sidebar .sidebar-albums:hover::-webkit-scrollbar-thumb {
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  background-color: rgba(52, 52, 52, 0.9);
  border: 5px solid rgba(52, 52, 52, 0.9);
}
.top-half .sidebar .sidebar-albums::-webkit-scrollbar {
  position: absolute;
  width: 10px;
  height: 10px;
}
.top-half .sidebar .sidebar-albums::-webkit-scrollbar-thumb {
  background-color: rgba(26, 26, 26, 0.9);
  border: 5px solid rgba(26, 26, 26, 0.9);
  border-radius: 10rem;
}
.top-half .sidebar .sidebar-albums::-webkit-scrollbar-track {
  position: absolute;
  right: -3rem;
  top: -50rem;
  background: transparent;
}
.top-half .sidebar .sidebar-albums a {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}
.top-half .sidebar .sidebar-albums a svg {
  width: 25px;
  height: auto;
}
.top-half .sidebar .sidebar-albums a svg path {
  fill: lightgrey;
}
.top-half .sidebar .sidebar-albums a:hover svg path {
  transition: fill 0.1s ease-in-out;
  fill: white;
}
.top-half .sidebar .sidebar-albums .album {
  width: 40px;
  height: 40px;
  background-color: darkgreen;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}
.top-half .sidebar .sidebar-albums .album:hover {
  cursor: pointer;
}
.top-half .playlist-page {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-gutter: auto;
}
.top-half .playlist-page:hover::-webkit-scrollbar-thumb {
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  background-color: rgba(199, 199, 199, 0.1);
  border: 7px solid rgba(199, 199, 199, 0.1);
}
.top-half .playlist-page::-webkit-scrollbar {
  position: absolute;
  width: 10px;
  height: 10px;
}
.top-half .playlist-page::-webkit-scrollbar-thumb {
  border-radius: 10rem;
}
.top-half .playlist-page::-webkit-scrollbar-track {
  position: absolute;
  right: -3rem;
  top: -50rem;
  background: rgb(88, 102, 94);
  background: linear-gradient(180deg, rgb(88, 102, 94) 0%, rgb(88, 102, 94) 25%, rgb(36, 41, 38) 50%, rgb(18, 18, 18) 75%, rgb(18, 18, 18) 100%);
}
.top-half .playlist-page .playlist-top-container {
  background: rgb(88, 102, 94);
  background: linear-gradient(52deg, rgb(88, 102, 94) 0%, rgb(48, 56, 52) 100%);
  padding: 16px;
}
.top-half .playlist-page .playlist-top-container .playlist-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.top-half .playlist-page .playlist-top-container .playlist-menu .navigation a {
  text-decoration: none;
}
.top-half .playlist-page .playlist-top-container .playlist-menu .navigation svg {
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}
.top-half .playlist-page .playlist-top-container .playlist-menu .navigation svg path {
  fill: lightgrey;
}
.top-half .playlist-page .playlist-top-container .playlist-menu .navigation .forward-navigation:hover, .top-half .playlist-page .playlist-top-container .playlist-menu .navigation .back-navigation:hover {
  cursor: pointer;
}
.top-half .playlist-page .playlist-top-container .playlist-menu .navigation .forward-navigation:hover path, .top-half .playlist-page .playlist-top-container .playlist-menu .navigation .back-navigation:hover path {
  transition: fill 0.1s ease-in-out;
  fill: white;
}
.top-half .playlist-page .playlist-top-container .playlist-menu .profile a svg {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.top-half .playlist-page .playlist-top-container .playlist-menu .profile:hover {
  transform: scale(105%);
}
.top-half .playlist-page .playlist-top-container .info-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.top-half .playlist-page .playlist-top-container .info-container .album-art {
  width: 100px;
  height: 100px;
  background-color: darkgreen;
  border-radius: 5px;
  margin-right: 10px;
}
.top-half .playlist-page .playlist-top-container .info-container .playlist-info h2 {
  font-size: 10px;
  line-height: 16px;
  font-weight: bold;
}
.top-half .playlist-page .playlist-top-container .info-container .playlist-info h1 {
  font-size: 18px;
  line-height: 29px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.top-half .playlist-page .playlist-top-container .info-container .playlist-info .playlist-data {
  font-size: 13px;
  line-height: 21px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: lightgrey;
}
.top-half .playlist-page .playlist-bot-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: rgb(36, 41, 38);
  background: linear-gradient(185deg, rgba(36, 41, 38, 0.88) 0%, rgb(18, 18, 18) 100%);
  max-height: auto;
  padding: 10px;
  padding-bottom: 40px;
}
.top-half .playlist-page .playlist-bot-container .playlist-controls-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  padding: 0 10px 0 0;
  -moz-column-gap: 0.875rem;
       column-gap: 0.875rem;
  margin: 0 0 10px 0;
}
.top-half .playlist-page .playlist-bot-container .playlist-controls-container div svg {
  height: 30px;
  width: 30px;
}
.top-half .playlist-page .playlist-bot-container .playlist-controls-container div svg path {
  fill: lightgrey;
}
.top-half .playlist-page .playlist-bot-container .playlist-controls-container div svg:hover {
  cursor: pointer;
}
.top-half .playlist-page .playlist-bot-container .playlist-controls-container div svg:hover path {
  transition: fill 0.1s ease-in-out;
  fill: white;
}
.top-half .playlist-page .playlist-bot-container .playlist-controls-container .controls-play {
  background-color: #35D769;
  padding: 0px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  place-items: center;
}
.top-half .playlist-page .playlist-bot-container .playlist-controls-container .controls-play svg {
  height: 30px;
  width: 30px;
}
.top-half .playlist-page .playlist-bot-container .playlist-controls-container .controls-play svg path {
  fill: #000000;
}
.top-half .playlist-page .playlist-bot-container .playlist-controls-container .controls-play:hover {
  transform: scale(105%);
}
.top-half .playlist-page .playlist-bot-container .playlist-controls-container .controls-play:hover svg path {
  fill: #000000;
}
.top-half .playlist-page .playlist-bot-container .playlist-controls-container .controls-heart svg path {
  fill: #35D769;
}
.top-half .playlist-page .playlist-bot-container .playlist-controls-container .controls-search {
  margin: 0 0 0 auto;
}
.top-half .playlist-page .playlist-bot-container .playlist-controls-container .controls-order {
  font-size: 12px;
  color: lightgrey;
}
.top-half .playlist-page .playlist-bot-container .playlist-controls-container .controls-order:hover {
  color: white;
}
.top-half .playlist-page .playlist-bot-container .playlist-songs {
  padding: 0 10px 0 10px;
}
.top-half .playlist-page .playlist-bot-container .playlist-songs .song-list-titles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  grid-column-gap: 20px;
}
.top-half .playlist-page .playlist-bot-container .playlist-songs .song-list-titles h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: lightgrey;
  font-size: 14px;
  line-height: 23px;
  padding: 0 10px 0 10px;
}
.top-half .playlist-page .playlist-bot-container .playlist-songs .song-list-titles h2 svg {
  display: flex;
}
.top-half .playlist-page .playlist-bot-container .playlist-songs .song-list-titles h2:hover {
  color: white;
}
.top-half .playlist-page .playlist-bot-container .playlist-songs .song-list-titles #duration-icon {
  width: 20px;
  height: 20px;
}
.top-half .playlist-page .playlist-bot-container .playlist-songs .song-list-titles #duration-icon path {
  fill: lightgrey;
}
.top-half .playlist-page .playlist-bot-container .playlist-songs .song-list-titles #duration-icon:hover path {
  fill: white;
}
.top-half .playlist-page .playlist-bot-container .playlist-songs hr {
  border-color: rgb(104, 104, 104);
}
.top-half .playlist-page .playlist-bot-container .playlist-songs .song-list li {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
}
.top-half .playlist-page .playlist-bot-container .playlist-songs .song-list li p {
  color: lightgrey;
  font-size: 14px;
  line-height: 23px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 10px 0 10px;
}
.top-half .playlist-page .playlist-bot-container .playlist-songs .song-list li:hover {
  background-color: #454545;
}

.progress-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5px 0;
}

.progress-bar {
  width: 25vw;
  height: 8px;
  background-color: grey;
  display: inline-block;
  justify-self: stretch;
}
.progress-bar:hover {
  cursor: pointer;
}
.progress-bar:before {
  content: "";
  display: block;
  position: relative;
  height: 100%;
  width: 0%;
  background-color: white;
  visibility: var(--visibility, hidden);
  animation-name: var(--progressBar, progressBar);
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: var(--songDuration, 0s);
  animation-play-state: var(--progressBarToggle, paused);
  animation-delay: var(--progressDelay, 0s);
}
@keyframes progressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.progress-bar:after {
  content: "";
  display: block;
  position: relative;
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  transform: translate(-5px, -10px);
  animation-name: var(--progressCircle, progressCircle);
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: var(--songDuration, 0s);
  animation-play-state: var(--progressBarToggle, paused);
  visibility: var(--progressCircleVisibility, hidden);
  animation-delay: var(--progressDelay, 0s);
}
@keyframes progressCircle {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

.progress-hover {
  background-color: grey;
}
.progress-hover:before {
  background-color: #1DB954;
  transition: background-color 0.1s ease-in-out;
}

.current-duration {
  display: inline-block;
  margin: 0 1em 0 auto;
  font-size: 14px;
}

.total-duration {
  display: inline-block;
  margin: 0 auto 0 1em;
  font-size: 14px;
}

.bottom-half {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: black;
  padding: 12px;
  padding-bottom: 20px;
  height: 7%;
}
.bottom-half .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  left: 0;
  margin: 0 auto 0 0;
  transform: translateX(8px);
}
.bottom-half .info .album-art {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: darkgreen;
  border-radius: 2px;
}
.bottom-half .info #song-name {
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  max-width: 100px;
}
.bottom-half .info #song-name:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .bottom-half .info #song-name {
    max-width: 200px;
  }
}
.bottom-half .info p {
  align-self: center;
}
.bottom-half .playback-bar-container {
  display: flex;
  flex-direction: column;
}
.bottom-half .playback-bar-container .playback {
  margin: 0 auto 7px auto;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */ /* IE10+/Edge */
  user-select: none; /* Standard */
}
.bottom-half .playback-bar-container .playback .play-container, .bottom-half .playback-bar-container .playback #prevButton, .bottom-half .playback-bar-container .playback #nextButton {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.bottom-half .playback-bar-container .playback .play-container {
  border-radius: 50%;
  background-color: white;
  fill: rgb(0, 0, 0);
}
.bottom-half .playback-bar-container .playback .play-container:hover {
  transform: scale(105%);
  transition: transform 0.1s ease-in-out;
}
.bottom-half .playback-bar-container .playback .play-container #pause {
  transform: scale(80%);
}
.bottom-half .playback-bar-container .playback #prevButton svg path {
  fill: lightgrey;
}
.bottom-half .playback-bar-container .playback #prevButton svg path:hover {
  transition: fill 0.1s ease-in-out;
  fill: white;
}
.bottom-half .playback-bar-container .playback #nextButton svg path {
  fill: lightgrey;
}
.bottom-half .playback-bar-container .playback #nextButton svg path:hover {
  transition: fill 0.1s ease-in-out;
  fill: white;
}
.bottom-half .playback-bar-container .playback svg {
  width: 30px;
  height: 30px;
}
.bottom-half .playback-bar-container .playback svg:hover {
  transform: scale(105%);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
.bottom-half .playback-bar-tools {
  margin: 0 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.bottom-half .playback-bar-tools .volume-icon-container {
  margin: 0 5px 0 0;
}
.bottom-half .playback-bar-tools .volume-icon-container #volume-icon path {
  fill: lightgrey;
  height: 25px;
  width: 25px;
}
.bottom-half .playback-bar-tools .volume-icon-container #volume-icon path:hover {
  cursor: pointer;
  fill: white;
}
.bottom-half .playback-bar-tools .volume-controls {
  text-align: center;
  width: 50px;
  height: 5px;
  border-radius: 3px;
  background-color: grey;
}
.bottom-half .playback-bar-tools .volume-controls:before {
  content: "";
  display: block;
  position: relative;
  height: 100%;
  width: var(--volumeBarFill, 50%);
  background-color: white;
}
.bottom-half .playback-bar-tools .volume-controls:after {
  content: "";
  display: block;
  position: relative;
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  transform: var(--volumeCirclePosition, translate(19px, -8px));
  visibility: var(--volumeCircleVisibility, hidden);
}
@media (min-width: 768px) {
  .bottom-half .playback-bar-tools .volume-controls {
    width: 100px;
  }
  .bottom-half .playback-bar-tools .volume-controls:after {
    transform: var(--volumeCirclePosition, translate(44px, -8px));
  }
}
.bottom-half .playback-bar-tools .volume-hover {
  background-color: grey;
}
.bottom-half .playback-bar-tools .volume-hover:before {
  background-color: #1DB954;
  transition: background-color 0.1s ease-in-out;
}/*# sourceMappingURL=styles.css.map */