$tablet: 768px;
$desktop: 1024px;

@mixin tablet {
    @media(min-width: #{$tablet}) {
        @content
    }
};

@mixin desktop {
    @media(min-width: #{$desktop}) {
        @content
    }
};

html {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
};

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;

    // @include tablet {
    //     background-color: red;
    // }
}

.top-half {
    padding: 0 10px 0 10px;
    color: black;

    .song-list-titles {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        // justify-content: space-between;
    }
    .song-list {
        li {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            p {
                font-size: 14px;
                // text-align: center;
            }
        }
    }
}

.progress-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5px 0;
}

.progress-bar {
    width: 50vw;
    height: 8px;
    // margin: 0 auto 0 auto;
    // transform: translateX(-250px);
    background-color: grey;
    display: inline-block;
    justify-self: stretch;

    &:hover {
        cursor: pointer;
        // box-shadow: 0px 10px 10px rgba(0, 255, 136, 0.1);
    }

    &:before {
        content: "";
        display: block;
        position: relative;
        height: 100%;
        width: 0%;
        background-color: white;
        visibility: var(--visibility, hidden);
        animation-name: var(--progressBar, progressBar);
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-duration: var(--songDuration, 0s);
        animation-play-state: var(--progressBarToggle, paused);
        animation-delay: var(--progressDelay, 0s);
    
        @keyframes progressBar {
            0% {
                width: 0%;
            }
    
            100% {
                width: 100%;
            }
        }
    }

    &:after {
        content: "";
        display: block;
        position: relative;
        height: 12px;
        width: 12px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
        transform: translateY(-10px);
        animation-name: var(--progressCircle, progressCircle);
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-duration: var(--songDuration, 0s);
        animation-play-state: var(--progressBarToggle, paused);
        visibility: var(--progressCircleVisibility, hidden);
        animation-delay: var(--progressDelay, 0s);

        @keyframes progressCircle {
            0% {
                left: 0%;
            }
    
            100% {
                left: 100%;
            }
        }
    }
}

.current-duration {
    display: inline-block;
    margin: 0 1em 0 auto;
    font-size: 14px;
}

.total-duration {
    display: inline-block;
    margin: 0 auto 0 1em;
    font-size: 14px;
}

.bottom-half {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0 0 0;
    background-color: black;
    padding: 12px 0 12px 0;

    .info {
        position: absolute;
        display: flex;
        justify-content: center;
        left: 0;
        width: 80px;
        // height: 103px;
        text-align: center;
        // opacity: 0%;

        p {
            align-self: center;
        }
    }

    .playback-bar-container {
        display: flex;
        flex-direction: column;
        // margin-top: 10px;
        // justify-content: center;

        .playback {
            margin: 0 auto 7px auto;

            .play-container, #prevButton, #nextButton {
                display: inline-block;
                width: 30px;
                height: 30px;
            }

            .play-container {
                border-radius: 50%;
                background-color: white;
                fill: rgb(0, 0, 0);
                &:hover {
                    transform: scale(105%);
                    transition: transform 0.1s ease-in-out;
                }

                #pause {
                    transform: scale(80%);
                }
            }

            #prevButton svg {
                fill: lightgrey;
                &:hover {
                    transition: fill 0.1s ease-in-out;
                    fill: lighten(lightgrey, 20%);
                }
            }

            #nextButton svg {
                fill: lightgrey;
                &:hover {
                    transition: fill 0.1s ease-in-out;
                    fill: lighten(lightgrey, 20%);
                }
            }
    
            svg {
                width: 30px;
                height: 30px;
                &:hover {
                    transform: scale(105%);
                    cursor: pointer;
                    transition: transform 0.1s ease-in-out;
                }
            }
        }
    }

    .progress-hover {
        background-color: grey;

        &:before {
            background-color: #1DB954;
            transition: background-color 0.1s ease-in-out;
        }
    }
}

